# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

src/pages/home-2.jsx
src/pages/home-3.jsx
src/pages/home-4.jsx
src/pages/home-5.jsx
src/pages/home-6.jsx
src/pages/home-7.jsx